*{padding: 0; margin: 0; box-sizing: border-box; text-decoration: none; list-style: none;}
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pridi');

html{
	background-color: #D9E8D1;
}
.containermenu{
	width: 100%;
	position: fixed;
	z-index: 3;
}
.containermenuBlock__image{
	width: 95px;
	height: 95px;
	margin-right: 25vw;
}
.containermenuBlock{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(to right, rgba(140,232,65,0.9), rgba(255,253,73,0.9));
}
.containermenuBlock__link{
	font-size: 30px;
	color: grey;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}
.containermenuBlock__link:hover{
	font-weight: bolder;
	font-size: 38px;
	color: black;
}
#menu-hamburguer{
	display: none;
}
.hamburguer{
	display: block;
	background-color: #000;
	width: 35px;
	height: 5px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 20%;		
	transition: .5s ease-in-out;
	position: relative;
    left: 50%;
    top: 25px;

}
.hamburguer:before, 
.hamburguer:after{
	background-color: #000;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 10px;
	top: 15px;
	transition: .5s ease-in-out;
}
.hamburguer:before{
	top: 10px;
}
.hamburguer:after{
	top: -10px;
}
main{
	display: flex;
	flex-direction: column;
	align-items: center; 
}
.containervasco{
	width: 80vw;
	height: 70vh;
	background-color: black;
	margin-top: 110px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 3%;
}
.containervascoBlock__historia{
	width: 40%;
	height: 50vh;
	background-color: transparent;
	border-radius: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 120px;
	margin-top: 50px;
}
.containervascoTitle{
	display: flex;
	align-self: flex-start;
	font-size: 25px;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-top: 5px;
}
.containervascoBlock__imageVasco{
	width: 140px;
	height: 100px;
}
.containervascoBlock__image{
	width: 190px;
	height: 100px;
}
.containervascoBlock__paragraph{
	color: white;
	font-family: 'Quicksand', sans-serif;	
	text-align: center;
	margin-bottom: 45px;
	font-weight: bold;
}
.containervascoBlock__input{
	width: 40%;
	height: 50vh;
	background-color: transparent;
	border-radius: 5%;
	margin-bottom: 120px;
	display: flex;
	flex-flow: column wrap;
	margin-top: 50px;
}
.containervascoBlock__inputTitle{
	font-size: 25px;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}
.containervascoBlock__inputFormulario{
	display: flex;
	flex-flow: column wrap;
}
.containervascoBlock__inputSocio{
	margin: 5px;
	width: 250px;
	height: 20px;
}
.containervascoBlock__inputCadastro{
	font-size: 20px;
	color: white;
}
.containervascoBlock__inputFormulario__button{
	width: 50px;
	margin-top: 15px;
	margin-left: 20px;

}
.containerflamengo{
	width: 80vw;
	height: 70vh;
	background-color: red;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: 3%;	
}
.containerflamengoBlock__titulosidolos{
	width: 35vw;
	height: 52vh;
	background-color: transparent;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	border-radius: 5%;
	margin-left: 25px;
}
.containerflamengoBlock__titulosidolosLista__titulos, .containerflamengoBlock__titulosidolosLista__idolos{
	font-size: 20px;
	margin-top: 15px;
	font-family: 'Quicksand', sans-serif;
}
.containerflamengoTitle{
	display: flex;
	align-self: flex-start;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-top: 10px;
}
.containerflamengoBlock__historia{
	width: 35vw;
	height: 52vh;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 5%;
	margin-right: 25px;
	box-shadow: 1px 10px 20px black;
}
.containerflamengoBlock__historiaImageflamengo{
	width: 100px;
	height: 100px;
	margin-left: 5px;
	margin-top: 5px;
}
.containerflamengoBlock__historiaImageadidas{
	width: 130px;
	height: 100px;
	margin-right: 5px;
	margin-top: 5px;

}
.containerflamengoBlock__historiaParagraph{
	color: black;
	font-family: 'Quicksand', sans-serif;	
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.containerfluminense{
	width: 80vw;
	height: 70vh;
	background-color: green;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: 3%;		
}
.containerfluminenseBlock__esportes{
	width: 35vw;
	height: 52vh;
	background-color: transparent;
	display: flex;
	flex-flow: nowrap;
	justify-content: space-around;
	border-radius: 5%;
	box-shadow: 1px 10px 20px black;
	margin-left: 25px;
}
.containerfluminenseBlock__esportesLista__title{
	font-size: 30px;
	align-self: flex-start;
	font-family: 'Quicksand', sans-serif;
	color: white;
}
.containerfluminenseBlock__esportesLista{
	font-size: 25px;
	align-self: center;	
	font-family: 'Quicksand', sans-serif;
	margin-top: 15px;
	color: white;
}
.containerfluminenseBlock__esportesLista__li{
	margin-top: 50px;
}
.containerfluminenseTitle{
	display: flex;
	align-self: flex-start;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-top: 10px;
	color: white;	
}
.containerfluminenseBlock__historia{
	width: 35vw;
	height: 52vh;
	background-color: transparent;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	border-radius: 5%;
	box-shadow: 1px 10px 20px black;
	margin-right: 25px;
}
.containerfluminenseBlock__historiaImagefluminense{
	width: 85px;
	height: 80px;
	margin-left: 5px;
	margin-top: 5px;
}
.containerfluminenseBlock__historiaImageunder{
	width: 120px;
	height: 80px;
	margin-left: 85px;
	margin-top: 5px;
}
.containerfluminenseBlock__historiaParagraph{
	color: black;
	font-family: 'Quicksand', sans-serif;	
	text-align: center;
	font-weight: bold;
	margin-top: 25px;
	color: white;
}
.containerfooter{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(to right, rgba(140,232,65,0.9), rgba(255,253,73,0.9));
	margin-top: 15px;
}
.containerfooterLista__sociais{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	align-self: flex-start;
}
@keyframes contatos{
	100% {color: red;}
}
.containerfooterTitle{
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	animation-name: contatos;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-delay: -1s;
	animation-direction: alternate;
	position: relative;
	left: 25%;
	bottom: 25px;
}
.containerfooterLista{
	margin-top: 25px;
}
.containerfooterLista__sociaisLink{
	font-size: 20px;
	color: black;
}
.containerfooterEmail, .containerfooterDireitos{
	font-family: 'Pridi', serif;
	align-self: flex-end;
	margin-right: 5%;
}
@media (max-width: 1259px){
	.containervasco{
		flex-direction: column;
		justify-content: space-around;
	}
	.containervascoBlock__input{
		flex-flow: column;
		padding-bottom: 35px;
		margin-bottom: 10px;
		position: relative;
		right: 10%;
		bottom: 15px;
	}
	.containervascoBlock__historia{
		font-size: 15px;
		margin-bottom: 10px;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
		padding-top-bottom: 80px;
	}
	.containervascoBlock__imageVasco{
		width: 120px;
		height: 80px;
		order: -3;
	}
	.containervascoBlock__image{
		width: 150px;
		height: 70px;
	}
	.containervascoTitle{
		margin-bottom: 43%;
	}
}
@media (max-width: 375px){
	.containervasco{
		justify-content: space-around;
		flex-flow: column;
	}
	.containervascoBlock__inputSocio{
	}
	.containervascoBlock__inputTitle{
	}
	.containervascoBlock__imageVasco{
		width: 70px;
		height: 50px;
		position: relative;
		top: 35vh;
		right: 10vw;
	}
	.containervascoBlock__image{
		width: 70px;
		height: 50px;
		position: relative;
		top: 27vh;
		left: 8vw;
	}
	.containervascoBlock__paragraph{
		font-size: 10px;
		position: relative;
		top: 28vh;
	}
	.containervascoTitle{
		position: relative;
		bottom: 23vh;
		align-self: center;
	}
	.containervascoBlock__historia{
		flex-flow: wrap;
	}
}